h1 {
  color: #4aaaa5;
}

.container {
  background-color: #d0d5dc;
  height: 100%;
}

.navbar-brand {
  background-color: #4aaaa5;
  color: white;
}

.about-me {
  background-color: white;
  margin-bottom: 30px;
  border-bottom: 5px;
  border-bottom-color: #bdc4ce;
  border-bottom-style: solid;
}

.about-me-content {
  margin-bottom: 21px;
  padding: 5px;
  line-height: 30px;
  background-color: white;
}

.my-picture img {
  float: left;
  margin-right: 10px;
  height: 200px;
  width: 200px;
}

.panel {
  margin-top: 18px;
}

.panel-body {
  text-align: center;
}

.panel-body img {
  margin: 5px;
}

.panel-heading {

}

.panel-title {
  font-size: 28px;
  color: #4aaaa5;
  background-color: white;
  text-align: center;
}

.form-control-textbox {
  margin-top: 10px;
}

.my-form {
  padding-bottom: 10px;
  padding-top: 10px;
}

.my-footer {
  height: 50px;
  padding-top: 20px;
  text-align: center;
}

.navbar-fixed-bottom {
  text-align: center;
}

.container-fluid {
  background-color: #91959a;
  border-top: 5px solid #4aaaa5;
  height: 60px;
  padding-top: 15px;
  background-color: ;
}

.port-container img {
  width: 200px;
  height: 200px;
}
